<div class="row">
    <div id="vertical-list" class="col-md-12 col-lg-12 col-sm-12">
        <div style="cursor: pointer;" ng-repeat="(key, image) in images | orderBy:sort" class="row"
             ng-click="showInfo(image)">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img ng-src="{{image.images.thumbnail.url}}"
                     class="center-block img-responsive"
                     title="{{image.caption.text}}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <span ng-if="image.user.full_name" style="font-weight: bold; display: block;word-wrap: break-word;">Pełna nazwa użytkownika: {{image.user.full_name}}</span>
                <span style="font-weight: bold; display: block;word-wrap: break-word;">Login: {{image.user.username}}</span>
                <span style="font-weight: bold; display: block;word-wrap: break-word;">Nazwa filtru: {{image.filter}}</span>
                <span style="font-weight: bold; display: block;word-wrap: break-word;">Liczba lajków: {{image.likes.count}}</span>
                <span style="font-weight: bold; display: block;word-wrap: break-word;">Liczba komentarzy: {{image.comments.count}}</span>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <img ng-src="{{image.user.profile_picture}}" class="img-circle img-responsive">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul class="list-inline text-primary image-tags-container">
                    <li class="bg-info" style="border-radius: 3px;" ng-repeat="tag in image.tags">
                        {{ tag }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="imageZoomModal.html">
    <div class="modal-header">
        <h4 class="modal-title clearfix">
            <span title="{{image.caption.text}}">{{image.caption.text | limitTo :100}}...</span>
        </h4>
    </div>
    <div class="modal-body container-fluid">
        <div class="col-md-1" style="float: none;display: table-cell;vertical-align: middle;">
            <a popover-trigger="mouseenter" popover-placement="left" popover="Przejdź do {{image.prevId}}"
               class="glyphicon glyphicon-backward" ng-if="image.prevId" href="#/list/{{image.prevId}}"></a>
        </div>
        <div class="col-md-10" style="float: none;display: table-cell;vertical-align: top;">
            <img ng-src="{{image.images.standard_resolution.url}}"
                 class="img-responsive center-block">
        </div>
        <div class="col-md-1" style="float: none;display: table-cell;vertical-align: middle;">
            <a popover-trigger="mouseenter" popover-placement="right" popover="Przejdź do {{image.nextId}}"
               class="glyphicon glyphicon-forward" ng-if="image.nextId" href="#/list/{{image.nextId}}"></a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
